
# Protege a pasta admin
<IfModule mod_authz_core.c>
    # Apache 2.4
    Require all granted
</IfModule>

<IfModule !mod_authz_core.c>
    # Apache 2.2
    Order allow,deny
    Allow from all
</IfModule>

# Prevenir listagem de diretórios
Options -Indexes

# Redirecionar para login se não estiver autenticado
#ErrorDocument 403 /admin/login.php
